/* LightBulb.css */

.light-bulb-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    cursor: pointer;
  }
  
  .light-bulb {
    width: 200px;
    height: 200px;
    background: #e1e1e1;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    animation: popOut 1s ease-in-out forwards;
  }
  
  .light-bulb::before, .light-bulb::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .light-bulb::before {
    width: 70px;
    height: 0;
    border-top: 50px solid #777777;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    bottom: -17px;
  }
  
  .light-bulb::after {
    width: 70px;
    height: 30px;
    background: #999999;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    bottom: -50px;
  }
  
  .light-bulb:hover {
    background: yellow;
    box-shadow: 0 0 100px yellow;
  }
  
  @keyframes popOut {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }